.git
.gitattributes
.gitignore
.gradle
.idea
.vscode
build
frontend
docs
.env
.env.*
!.env.example
*.secret
secrets
**/*.log
**/node_modules
**/dist
**/coverage
src/test
README.md
HELP.md
compose*.yaml
